

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
	
	text-align:center;
	
}


.col-centered{
    float: none;
    margin: 0 auto;
}

.gened_2{
	border-right: 1px solid gray;
}

.col-gened{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
}

h2{
	text-align: center;
}

.col-gened {
	color: red;   
    padding: 5px;     
    border: 5px solid rgb(57, 12, 12);     
    border-radius: 25px;
    /* margin: 0; */
}









