

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
	
	text-align:center;
	
}


.col-centered{
    float: none;
    margin: 0 auto;
}

.gened_2{
	border-right: 1px solid gray;
}

.col-gened{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
}

h2{
	text-align: center;
}

.col-gened {
	color: black;   
    padding: 10px;     
    /*border: 5px solid;*/
    border-color: green;     
    /*border-radius: 25px;*/
    /* margin: 0; */
}

/*#nsm0 {
	padding: 10px;
	margin: 5px;
	width: 100px;
}

#nsm1 {
	padding: 10px;
	margin: 5px;
	width: 100px;
}

#nsm2 {
	padding: 10px;
	margin: 5px;
	width: 100px;
}

#ha0 {
	padding: 10px;
	margin: 5px;
	width: 100px;
}

#ha1 {
	padding: 10px;
	margin: 5px;
	width: 100px;
}

#ha2 {
	padding: 10px;
	margin: 5px;
	width: 100px;
}

#sbs0 {
	padding: 10px;
	margin: 5px;
	width: 100px;
}

#sbs1 {
	padding: 10px;
	margin: 5px;
	width: 100px;
}

#sbs2 {
	padding: 10px;
	margin: 5px;
	width: 100px;
}



*/




