<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="static/css/main.css">
  <script <script src="static/js/vendor/jquery-1.11.0.min.js"></script>
  <script>
    {% autoescape false %}
    var userData = $.parseJSON('{{jsonData}}');
    {% endautoescape %}
  </script>

  <script src="static/js/vendor/jquery-1.11.0.min.js"></script>
   <script src="static/js/vendor/bootstrap.min.js"></script>

    <script src="static/js/main.js"></script>

  <script src="static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
              <div class="container">
                <h1>WesPlan</h1>
                <p style="background-color:white">A tool for planning out your Wesleyan academic career</p>
                <div class="progress" style="width:500px;margin-left:auto;margin-right:auto;" >
                    <div class="progress-bar progress-bar-success" style="width: 33%">
                      <span style="color:black;" class="">Classes completed</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 33%">
                      <span style="color:black;" class="">Currently taking</span>
                    </div>
                    <div class="progress-bar" style="width: 33%;background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0);">
                      <span style="color:black;" class="">Need to take</span>
                    </div>
                  </div>
              </div>
            </div>

            <div class="container">
              <div class="row" id="gradBar">
                <h2 style="text-align:center">Graduation progress</h2>
                <div class="col-md-11">
                  <div class="progress" >
                    <div class="progress-bar progress-bar-success" style="width: 0%">
                      <span class="sr-only">35% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 0%">
                      <span class="sr-only">20% Complete (warning)</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <p style="font-size:20px;">10/32</p>
                </div>
              </div>
              <div class="row" id="genEdBar">
                <h2 style="text-align:center">GenEd progress</h2>
                <div class="col-md-11">
                  <div class="progress" >
                    <div class="progress-bar progress-bar-success" style="width: 0%">
                      <span class="sr-only">91% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 0%">
                      <span class="sr-only">9% Complete (warning)</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <p style="font-size:20px;">8/9</p>
                </div>
              </div>

              <div class="row">
                <!-- <p style="font-size:30px; margin-left:100px"> Level 1 </p> -->
                
                <div id="nsm0" class="col-md-3 col-md-offset-1 col-gened gened_1 bg-success">NSM</div>
                <div id="nsm1" class="col-md-4 col-gened gened_1">NSM</div>
                <div id="nsm2" class="col-md-3 col-gened gened_1">NSM</div>
                
                
                <div id="ha0" class="col-md-3 col-md-offset-1 col-gened gened_1">HA</div>
                <div id="ha1" class="col-md-4 col-gened gened_2">HA</div>
                <div id="ha2" class="col-md-3 col-gened gened_3">HA</div>
                
                
                <div id="sbs0" class="col-md-3 col-md-offset-1 col-gened gened_1">SBS</div>
                <div id="sbs1" class="col-md-4 col-gened gened_2">SBS</div>
                <div id="sbs2" class="col-md-3 col-gened gened_3">SBS</div>
              
              </div>
              </br>
              {% if data['majorData'][0] %}
              <div class="row" id="major0bar">
                <h2>{{data['majorData'][0]['name']}}</h2>
                <div class="col-md-11">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 0%">
                      <span class="sr-only">55% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 0%">
                      <span class="sr-only">10% Complete (warning)</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <p style="font-size:20px;">6/11</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
              </div>
              {% endif %}
              {% if data['majorData'][1] %}
              <div class="row" id="major1bar">
                <h2>{{data['majorData'][1]['name']}}</h2>
                <div class="col-md-11">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 0%">
                      <span class="sr-only">55% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 0%">
                      <span class="sr-only">10% Complete (warning)</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <p style="font-size:20px;">6/11</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
              </div>
              {% endif %}
              {% if data['majorData'][2] %}
              <div class="row" id="major2bar">
                <h2>{{data['majorData'][2]['name']}}</h2>
                <div class="col-md-11">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 0%">
                      <span class="sr-only">55% Complete (success)</span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 0%">
                      <span class="sr-only">10% Complete (warning)</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <p style="font-size:20px;">6/11</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
              </div>
              {% endif %}
            </div>
          </body>
          

          <footer>

          </footer>
        </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

       